.UserDetail {
  max-width: 1170px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  h1 {
    font-weight: 600;
    padding-bottom: 10px;
  }
  .userNameWrapper {
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
  }
}
