.Table {
  border: 1px solid #ddd;
  padding-top: 5%;
  border-radius: 5px;
  font: #14213d;
  .btnForTableUser {
    width: 100px;
    height: 40px;
    background-color: #ecfbf2;
    border: none;
    border-radius: 5px;
    margin: 5px;
  }
}
