.Login {
  height: 100vh;
  width: 100vw;
  background-color: #fcfcfc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column-reverse;

  .loginWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  .serviceInfoContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  .onebookLogo {
    display: flex;
    object-fit: contain;
    flex-shrink: 1;
    width: 480px;
    margin-bottom: 30px;
  }
}
