.dashboard {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .actionButton {
    width: 150px;
    padding: 15px;
    margin-right: 17px;
    margin-top: 20px;
    font-weight: 600;
    border: none;
    color: white;
    border-radius: 5px;
    background-color: #028174;
    cursor: pointer;
  }
}

.dashboardMainGraph {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;

  .graphBarChart,
  .graphCirculChart {
    width: 630px;
    height: 350px;
    margin: 75px 0 0 43px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0.5px 3px 3px #a6a6a6;

    .monthText,
    .yearText {
      font-weight: 700;
      font-size: 20px;
      margin: 15px 0 0 15px;
    }
  }
}

.overlay {
  background-color: rgba(196, 196, 196, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 600px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: none;
    padding: 30px;
    border-radius: 10px;

    .mainFrame {
      display: flex;
      flex-direction: row;
      margin-top: 100px;

      .partic {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 250px;
        height: 270px;
        border: 2px solid #7777;
        background-color: #f8f8f8;
        border-radius: 5px;
        margin-left: 12px;

        &.selected {
          border-color: #028174;
        }

        .clickBox {
          margin-top: 20px;
        }

        .clickText {
          margin-top: 10px;
          font-weight: 600;
        }

        .womanEmoji {
          position: relative;
          bottom: -40px;
          right: -8px;
          font-size: 80px;
        }

        .verifiInput {
          position: relative;
          bottom: -65px;
          left: -3px;
          width: 200px;
          height: 34px;
          margin-left: 10px;
          border: 2px solid #7777;
          border-radius: 5px;
        }
      }

      .creating {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 250px;
        height: 270px;
        border: 2px solid #7777;
        background-color: #f8f8f8;
        border-radius: 5px;
        margin-left: 15px;

        &.selected {
          border-color: #028174;
        }

        .clickBox {
          margin-top: 20px;
        }

        .creatingText {
          margin-top: 10px;
          font-weight: 600;
        }

        .manEmoji {
          position: relative;
          bottom: -40px;
          font-size: 80px;
        }

        .settingText {
          position: relative;
          bottom: -75px;
        }
      }
    }

    .buttonFrame {
      display: flex;
      justify-content: flex-end;

      .completeButton {
        position: relative;
        bottom: -45px;
        width: 120px;
        padding: 13px;
        margin-right: 16px;
        border: none;
        border-radius: 5px;
        background-color: #028174;
        font-weight: 600;
        color: #fff;
        cursor: pointer;

        &:disabled {
          background-color: #7777;
          cursor: default;
        }
      }
    }

    .requiredTextMain {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .divideText {
        font-weight: 700;
        position: relative;
        bottom: -30px;
        left: -90px;
      }

      .categoryText {
        font-weight: 700;
        position: relative;
        bottom: -30px;
        left: -85px;
      }

      .dayText {
        font-weight: 700;
        position: relative;
        bottom: -30px;
        left: -97px;
      }

      .priceText {
        font-weight: 700;
        position: relative;
        bottom: -30px;
        left: -105px;
      }
    }

    .memoTextMain {
      display: flex;
      justify-content: flex-start;

      .memoText {
        font-weight: 700;
        position: relative;
        bottom: -30px;
        right: -25px;
      }
    }

    .yearTextMain {
      display: flex;
      justify-content: space-between;

      .yearText {
        font-weight: 700;
        position: relative;
        bottom: -30px;
        right: -25px;
      }

      .optionalText {
        font-weight: 500;
        font-size: 14px;
        color: rgb(55, 156, 251);
        position: relative;
        bottom: -35px;
        right: 23px;
      }
    }

    .divideFrame {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-top: 45px;

      .selectBox {
        width: 245px;
        padding: 15px;
        border-radius: 5px;
        border: 1px solid gray;
        color: gray;
      }

      .priceInput {
        width: 245px;
        padding: 15px;
        border: 1px solid gray;
        border-radius: 5px;
      }

      .memoInput {
        width: 508px;
        padding: 15px;
        border: 1px solid gray;
        border-radius: 5px;
      }
    }
  }

  .closeBtn {
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 16px;
    padding: 18px;
    border: none;
    background: none;
    cursor: pointer;

    img {
      position: absolute;
      top: 1px;
      right: 1px;
      width: 35px;
      height: 35px;
    }
  }
}
