.menuWrapper {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  border-radius: 6px;

  .mainContent {
    flex: 1;
  }
}

@media screen and (max-width: 1170px) {
  .mainContent {
    max-width: 90%;
  }
}
