.menuWrapper {
  display: flex;
  align-items: flex-start;

  .mainContent {
    flex: 1;
  }
}

@media screen and (max-width: 1170px) {
  .mainContent {
    max-width: 90%;
  }
}

@media screen and (min-width: 570px) {
  .mainContent {
    max-width: 82%;
  }
}
