.allowanceModal {
  .backDrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
  }

  .modal {
    z-index: 11;
    display: none;
    // overflow: unset;
    /* 기본적으로 모달을 감추기 */

    &.open {
      display: block;
      z-index: 1000;
      position: absolute;
      top: 50px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #fff;
      margin-top: 20px;
      border-radius: 6px;
      border: 2px solid black;
      // overflow: hidden;
    }

    .allowanceInfo {
      display: flex;
      flex-direction: column;
      padding: 10px;
      width: 100%;

      .allowanceContentName {
        font-size: 20px;
      }

      .allowanceContentList {
        display: flex;
        flex-direction: row;

        .allowance {
          display: flex;
          flex-direction: column;
          margin: 5px;

          .allowanceName {
            font-size: 20px;
            padding: 10px;
          }

          .allowanceInput {
            width: 200px;
            height: 50px;
            border: 2px solid #777;
            border-radius: 6px;

            &:focus {
              outline: 1px solid #3dd980;
            }
          }
        }
      }
      .btn {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        &:focus {
          background-color: #3dd980;
        }

        .closeBtn {
          width: 10%;
          height: 40px;
          color: #14213d;
          font-size: 20px;
          font-weight: 700;
          margin: 5px;
          margin-left: 10px;
          border-radius: 6px;
          border: none;
          background-color: #cbeaef;
          text-align: center;
        }

        .completeBtnContainer {
          width: 100%;
        }
      }
    }
  }
}
