.menuBarFrame {
  width: 279px;
  height: 100vh;
  background-color: #fcfcfc;
  position: sticky;
  top: 0;
  box-shadow: 0 10px 10px #d9d9d9;

  .logoFrame {
    display: flex;
    justify-content: center;
    align-items: center;

    .wonBookLogo {
      position: relative;
      bottom: -5px;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }

  .userInfoFrame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .adminImage {
      position: relative;
      bottom: -10px;
      border-radius: 50%;
      border: 2px solid gray;
      width: 100px;
      height: 100px;
    }

    .nameText {
      margin-top: 35px;
      font-weight: 600;
      color: #333333;
    }

    .adminText {
      margin-top: 10px;
      font-weight: 400;
      color: #2378ff;
    }
  }

  .menuBarButtonFrame {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;

    .buttonList {
      display: flex;
      flex-direction: column;
      align-items: center;

      &:last-child {
        margin-top: 80px;
      }

      .menuBarButton {
        width: 150px;
        height: 40px;
        font-size: 16px;
        font-weight: 700;
        color: #14213d;
        background-color: #ecfbf2;
        border: none;
        border-radius: 10px;
        margin: 15px 0px 15px 15px;
        cursor: pointer;

        &:focus {
          background-color: #3dd980;
          outline: none;
        }

        &.red {
          font-weight: 700;
          color: rgb(227, 116, 116);
        }
      }
    }
  }
}
